/* Adjusting the title bar of the page */
h1 {
  padding-left: 10px;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}


/* Adjusting the map */
/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
  height: 100%;
}
/* Making the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  /* padding: 0; */
}

/* menu page */
  .menubar nav{
    align-content: center;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    z-index: 20; 
    font-weight: bold; 
    margin-top: 25px;
  }

  .menubar nav li{
    position: relative;
    display: inline-block;
    float: left;
  }

  .submenu{
    text-decoration: none;
    color: #000000;
    background-color: none;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    padding: 12px;

  }

  .submenu:hover{
    background-color: black;
    color: white;
    text-decoration: none;
  }
  
  .active{
    background-color: black;
    color: white;
  }

/* MEDIA QUERIES */
@media screen and (min-width: 500px) and (min-device-width: 500px) {
  .menubar nav{
    height: 10vh;
    }

    .menubar nav li{
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
   }
}

/* tablet */
@media screen and (min-width: 780px) and (min-device-width: 500px){
  .menubar nav{
    height: 10vh;
    }

    .menubar nav li{
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
   }
}

/* desktop */
@media screen and (min-width: 1050px) {
  .menubar nav{
    height: 10vh;
    }
}

/* FOR MOBILE DEVICES*/
/* Source for different devices http://cssmediaqueries.com/target/ */
@media screen and (max-device-width: 500px) and (orientation: portrait){
  .menubar nav{
    height: 10vh;
    }

}

/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
@media screen and (max-device-width: 500px) and (orientation: landscape), screen and (max-device-height: 500px) and (orientation: landscape){
  .menubar nav{
    }
}


h1{
  margin-top: -20px;
}