@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,700';

body {
	background-color: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

.wrapper{
	width: 100%;
	height: 300vh;
}

/* FIXED HEADER */
header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	background-color: #070177;
	width: 100%;
	height: 10vh;
	text-align: center;
}

header #desktop {
	display: none;
}

header nav a {
	padding: 0 2vh;
	text-decoration: none;
	line-height: 10vh;
}

/* menu page */
  .menubar nav{
    align-content: center;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    z-index: 20; 
    font-weight: bold;
  }

  .menubar nav li{
    position: relative;
    display: inline-block;
    float: left;
    color: white;
  }

  .submenu{
    text-decoration: none;
    color: #000000;
    background-color: none;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    padding: 12px;

  }

  .submenu:hover{
    background-color: black;
    color: white;
    text-decoration: none;
  }
  
  .active{
    background-color: black;
    color: white;
  }
/* End of nav bar */


	.right{
		float: right;
	}

	.left{
		float: left;
	}

	.article1{
		color: white;
		font-size: 75px;
		font-weight: bold;
		text-align: center;
	}

	.text1{
		border: 20px;
		background-color: white;
		color: black;
	}

	.text2{
		color: red;
		font-weight: bold;
		font-size: 35px;
		text-align: center;
	}

		/* GRID */
	article #work {
		position: absolute;
		width: 100vw;
		left: 0;
		right: 0;
		margin: 0 auto;
	}


	.article2{
		float: left;
		border: 10 px solid white;
		width: 125vh;
		height: 90vh;
	}

	.article3{
		float: right;
		border: 10 px solid white;
		width: 75vh;
		height: 90vh;
		font-family: "Times New Roman", Times, serif;
	}

  footer{
    opacity: 0.9;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 30;
    transition: 0.5s;
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: center;
  }


/* MEDIA QUERIES */
@media screen and (min-width: 500px) and (min-device-width: 500px) {
  .menubar nav{
    height: 10vh;
    }

    .menubar nav li{
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
   }

   
}


/* tablet */
@media screen and (min-width: 780px) and (min-device-width: 500px){
  .menubar nav{
    height: 10vh;
    }

    .menubar nav li{
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
   }

   article .items {
		width: calc(98vw / 2);
		height: calc(50vw / 2);
	}
	
}

/* desktop */
@media screen and (min-width: 1050px) {
  .menubar nav{
    height: 10vh;
    }

    article .items {
		width: calc(98vw / 2);
		height: calc(50vw / 2);
	}
    
}

/* FOR MOBILE DEVICES*/
/* Source for different devices http://cssmediaqueries.com/target/ */
@media screen and (max-device-width: 500px) and (orientation: portrait){
  .menubar nav{
    height: 10vh;
    }

}

/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
@media screen and (max-device-width: 500px) and (orientation: landscape), screen and (max-device-height: 500px) and (orientation: landscape){
  .menubar nav{
    }

    article .items {
		width: calc(98vw / 1);
		height: calc(50vw / 1);
	}
}